body {
    background-color: #00E6E6;
}
#titleText {
    background-color: #CCFFFF;
    float: left;
    font-size: 22pt;
    margin-left: 10px;
    font-family: Tahoma, sans-serif;
    padding: 2.5px 10px 2.5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#search {
    float: right;
    margin-right: 10px;
}
.searchInput {
    background-color: #CCFFFF;
    width: 400px;
    height: 30px;
    margin-top: 30px;
    font-family: Tahoma, sans-serif;
    font-size: 16pt;
    color: #42A6A6;
    border: 5px solid #CCFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: border 0.4s ease;
    -moz-transition: border 0.4s ease;
    -o-transition: border 0.4s ease;
    transition: border 0.4s ease;
}
.searchType {
    background-color: #CCFFFF;
    height: 40px;
    font-family: Tahoma, sans-serif;
    font-size: 16pt;
    color: #42A6A6;
    border: 5px solid #CCFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: border 0.4s ease;
    -moz-transition: border 0.4s ease;
    -o-transition: border 0.4s ease;
    transition: border 0.4s ease;
}
.searchButton {
    background-color: #CCFFFF;
    height: 40px;
    font-family: Tahoma, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #42A6A6;
    border: 5px solid #CCFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: border 0.4s ease;
    -moz-transition: border 0.4s ease;
    -o-transition: border 0.4s ease;
    transition: border 0.4s ease;
}
#albums {
    clear: both;
    overflow: hidden;
}
.album {
    width: 20%;
    padding-bottom: 20%;
    color: #FFF;
    position: relative;
    float: left;
}
.albumInformation {
    background-color: #000000;
    opacity: .7;
    position: absolute;
    display: none;
    overflow: hidden;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    padding: 10px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.artwork {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}
.artwork img {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* 1 album per row */

@media (max-width: 480px) {
    .album {
        width: 100%;
        padding-bottom: 100%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    h5 {
        font-size: 12px;
    }
    #titleText {
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .searchInput {
        width: 100%;
        margin-bottom: 10px;
    }
    .searchType {
        float: left;
    }
    .searchButton {
        float: right;
    }
}

/* 2 albums per row */

@media (max-width: 650px) and (min-width: 481px) {
    .album {
        width: 50%;
        padding-bottom: 50%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    h5 {
        font-size: 12px;
    }
    #search {
        float: left;
        margin-left: 10px;
    }
    .searchInput {
        width: 250px;
    }
}

/* 3 albums per row */

@media (max-width: 1050px) and (min-width: 651px) {
    .album {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    h5 {
        font-size: 12px;
    }
    #search {
        float: left;
        margin-left: 10px;
    }
}

/* 4 albums per row */

@media (max-width: 1290px) and (min-width: 1051px) {
    .album {
        width: 25%;
        padding-bottom: 25%;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
}
